# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=b3O9qI5dcHE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=10

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

In [ ]:
# print the value of a

[]

In [ ]:
# print the type of a

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
#code here

Print the number of elements in the list

In [ ]:
#code here

5

Using for loop iterate and print all the elements in the list

In [ ]:
#code here

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
#code here

Print the value of temp and type(temp)

In [ ]:
#code here

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [ ]:
# code here

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
#code here

Remove the element 42 from the list and print the list

In [ ]:
#code here

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
#code here

Append the element 'Black' to colors

In [ ]:
#code here

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
# code here

Print the list

In [ ]:
# code here

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
# code here

Add the elements of colors2 to colors using extend function in the list

In [ ]:
#code here

Print len of colors and its elements

In [ ]:
# code here

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
# code here

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [ ]:
# code here

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
# code here

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
# code here

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
# code here

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
# code here

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
#code here

In [ ]:
# print x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
#code here

'coronavirus caused lockdowns around'

## 2. Sets

Reference:-https://www.youtube.com/watch?v=B7dPo44o5jA&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=12

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here

Print the len of stud_grades

In [ ]:
#code here

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
#code here

Print stud_grades_set.

In [ ]:
#code here

{'A', 'B', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
#code here

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'A', 'B', 'F', 'C'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
#code here

Add element 'F' to stud_grades_set. and print it.

In [ ]:
#code here

{'G', 'A', 'B', 'F', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
#code here

Print the elements and the length of stud_grades_set

In [ ]:
#code here

{'G', 'A', 'B', 'C'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here

Print color and fruits

In [ ]:
#code here

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
#code here

{'blue', 'orange', 'red'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [ ]:
#code here

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [ ]:
#code here

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
#code here

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=aMGPLCzTvmE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=11

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here

Iterate through temp and print all the items in temp

In [ ]:
#code here

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
#code here

Set temp1 = tuple(temp)

In [ ]:
#code here

Iterate through temp1 and print all the items in temp1.

In [ ]:
#code here

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
#code here

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here

Print first element of city

In [ ]:
#code here

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
#code here

Create cities which consist of city and city2

In [ ]:
#code here

Print cities

In [ ]:
#code here

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
#code here

<class 'tuple'>

print the type of cities

In [ ]:
#code here

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=U3e-L1WSSzQ&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=13

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
#code here

Print the value of d[0]

In [ ]:
#code here

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [ ]:
#code here

Print the type of actor

In [ ]:
#code here

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [ ]:
#code here

Print the type of l.

In [ ]:
#code here

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [ ]:
#code here

Merge d1 into d.

In [ ]:
#code here

print d

In [ ]:
#code here

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
#code here

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
#code here

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [ ]:
#code here

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
#code here

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N